<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArtEast.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD2A6C561DC06D0400C78CDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD2A6CFF1DC06D4500C78CDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD2A6DA81DC06EBD00C78CDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB2CF0C1D8FD1A900BFF545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB2CF251D8FD1A900BFF545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB2CF301D8FD1A900BFF545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDE219421DA8A0D3005712D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDEA704D1DE5802400E84CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDEA70CD1DE5821E00E84CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDEA71471DE5937300E84CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
